<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Produto</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

    <div class="container-produto">

        <div class="voltar">

            <a href="/">
                Voltar
            </a>

        </div>

        <div class="produto-detalhe">

            <div class="produto-imagem">

                <img
                    th:src="@{'/img/' + ${produto.img}}"
                    width="300">

            </div>

            <div class="produto-info">

                <h2
                    class="produto-titulo"
                    th:text="${produto.titulo}">
                </h2>

                <p class="produto-preco">

                    R$
                    <span
                        th:text="${produto.preco}">
                    </span>

                </p>

                <div
                    class="produto-descricao"
                    th:text="${produto.descricao}">
                </div>

            </div>

        </div>

    </div>

</body>
</html>